# Stop searching parent directories for more lombok.config files
config.stopBubbling = true

# Copy Spring's @Qualifier from fields to generated constructor parameters
lombok.copyableAnnotations += "org.springframework.beans.factory.annotation.Qualifier"
lombok.copyableAnnotations += "org.springframework.beans.factory.annotation.Value"